<form id="create-comment-form" name="create-event" method="POST" action="/comment">
  <h2 class="form-heading">Enter Comment</h2>
  
  <label for="username">
      <h5>Enter username:</h5>
  </label>
  <input type="text" class="form-control" name="username" placeholder="Username" required="" autofocus=""/>

  <label for="comment">
      <h5>Comment:</h5>
  </label>
  <input type="text" class="form-control" id="comment" name="comment" placeholder="Comment" required="" autofocus="" />

  <button class="btn btn-lg submitButton" type="submit">Submit Comment</button>
</form>

