
<h1 class="header">Latest Health Articles</h1>

<div id="button">
  <button class="btn" id="scrape-articles">Scrape New Articles!</button>
</div>

<div id="articles">

{{#each docs}}
  <div class='data-entry' data-id="{{docs._id}}"> 
    <a href='{{docs.link}}'> 
      <h4> {{docs.title}}</h4>
    </a>  
    <button class='btn' class='save-article'> Save </button> 
  </div>
{{/each}}

</div>
