body {
  font-family: 'Cormorant Semi-Bold', serif;
}

#comments {
  z-index: 1010;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modal-content {
  padding: 20px;
  align-content: center;
}

.close-item {
  float: right;
}


h3 {
  margin-top: 0px;
}

label {
  width: 100%;
  margin: auto;
  text-align: center;
}

.submit-button {
  display: block;
}

.text-area {
  width: 100%;
  border: none;
}

textarea {
  outline: none;
  resize: none;
}

form {
  width: 95%;
  margin: 0 auto;
}

hr {
  width: 100%;
  border-top: 1px solid #bebcbce7;
}

.jumbotron {
  text-align: center;
  background: url(https://images.unsplash.com/photo-1507581332893-aefc5acf08e0?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=f34e6be9fdf2a490dc4e152ae5feb701&auto=format&fit=crop&w=634&q=80);
  color: white;
  background-position: center;
  background-size: cover;
}

.save-article {
  display: block;
  float: right;
}

.comment-article {
  margin-left: 10px;
}

a {
  color: #004b34
}

a:hover {
  color: #00755b;
  text-decoration: none;
}